.vfrc-message--extension-DoneAnimation._1ddzqsn7 {
  display: none !important;
}

.vfrc-system-response:has(.vfrc-message--extension-DoneAnimation._1ddzqsn7)
  .vfrc-avatar.wfg6590.wfg6591._1ddzqsn2 {
  display: none;
}



.vfrc-system-response ._1ddzqsn3 img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  display: block;
  margin: 10px 0;
}

.vfrc-typing-indicator {
  display: none !important;
}

._17c0nw41 {
  color: #ffffff !important;
}
